body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  background-color: rgba(30, 23, 23, 0.411);
}
.box{
 border-radius: 40px;
 background-color: aquamarine;
 display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 80vh;
  width: 80vw;
  box-shadow: 0 0 20px rgba(0, 0, 25, 0.2);
 
}
.photob{
width: 15vw;
height: 35vh;
border-radius: 10px;
box-shadow: 0 0 30px rgba(0, 0, 25, 0.2);
}
.colored{
  color: royalblue;
}